/*!
 * Polyfill CSS object-fit
 * http://helloanselm.com/object-fit
 *
 * @author: Anselm Hannemann <hello@anselm-hannemann.com> 
 * @version: 0.1.0
 *
 */

.object-fit {
	position: relative;
	float: left;
/*	width: 150px;
	height: 150px;
	margin: 100px 20px 0 0;
	background: #555;*/
}

.object-fit > img {
	position: absolute;
	left: -50%;
	right: -50%;
	top: -50%;
	bottom: -50%;
	margin: auto;
	opacity: 0.75;
}

.object-fit-none > img {
	width: auto;
	height: auto;
}

.object-fit-fill > img {
	width: 100%;
	height: 100%;
}

.object-fit-contain > img.portrait {
	width: auto;
	height: 100%;
}

.object-fit-contain > img.landscape {
	width: 100%;
	height: auto;
}

.object-fit-cover > img {
	max-width: none;
	max-height: none;
}

.object-fit-cover > img.portrait {
	width: 100%;
	height: auto;
	max-width: none;
}

.object-fit-cover > img.landscape {
	width: auto;
	height: 100%;
	max-width: none;
}

.object-position-right > img {
	left: auto;
	right: 0;
}

.object-position-top > img {
	top: 0;
	bottom: auto;
}
